//背景图片设置
body {
    background-image: url(https://images.alphacoders.com/776/thumbbig-776016.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
//文章内容的透明度设置
.content-wrap {
    opacity: 0.9;
}

//侧边框的透明度设置
.sidebar {
    background-color: transparent;
    opacity: 0.9;
}
//菜单栏的透明度设置
.header-inner {
    background: rgba(255,255,255,0.9);
}